@import "/vendor/bootstrap/css/bootstrap.min.css";
@import "/vendor/font-awesome/css/font-awesome.min.css";
@import "/assets/css/backend/plugins.css";
@import "/assets/css/backend/development.css";
@import "variables";

#login {
	.login-content {
		.login-box-msg {
		    margin: 0;
			text-align: center;
			padding: 0 20px 20px 20px;
		}
	}
}

.bootstrap-filestyle.input-group {
	input {
		margin-bottom: 0 !important;
	}
}
