.permission-onoff {
    background: #eee;
    line-height: 23px;
    padding-left: 5px;
    display: block;
    width: 99%;
    padding-right: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    font-size: 13px;
    margin-top: 5px;
}

div.permission-onoff:hover{
    background: #ddd;
}

.title-permission {
    margin-bottom: 15px;
}

.list-permission {
    padding: 0px;
}

.bootstrap-switch {
    float: right;
    margin-top: 3px;
}

small{
    font-weight: bold;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2px;
    top: -3px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox label::before {
    content: "";
    text-align: center;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}